@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
Based on experience of various bases for many years, Odinsoft has been providing consulting services through business analysis, developing customized business solutions.
We are constantly striving to improve our business capabilities by developing enterprise support management system ERP and enterprise portal solution.
</p>

<p>
We are developing technologies to secure bitcoin-related technologies and to combine with games or e-commerce.
</p>