@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    KyoungKi-Do SeongNam-Si<br />
    PankyoTechno-Velley<br />
    <abbr title="Phone">P:</abbr>
    +82-31-698-3790
</address>

<address>
    <strong>Support:</strong> <a href="mailto:help@odinsoftware.co.kr">help@odinsoftware.co.kr</a><br />
    <strong>Marketing:</strong> <a href="mailto:lisa@odinsoftware.co.kr">lisa@odinsoftware.co.kr</a>
</address>